#items-box {
    text-align: center;
    background-color: rgb(27, 27, 27);
    width: 75%;
}

#main-box {
    display: flex;
    flex-wrap: wrap;
}

#info-box {
    min-width: 25%;
    max-width: 25%;
}

#info-box-box {
    position: sticky;
    top: 16px;
    border: 2px solid rgb(158, 158, 158);
    border-radius: 5px;
    padding: 4px;
}

h2 {
    text-align: center;
    font-size: 24px;
    color: aliceblue;
    font-family: 'Open Sans', sans-serif;
    margin-top: 10px;
    margin-bottom: 4px;
}

body {
    background-color: rgb(27, 27, 27);
}

.table-box {
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
    padding: 7px;
    border-bottom: 2px solid rgb(158, 158, 158);
}

p {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    width: 100%;
    max-width: 100%;
}

img:hover {
    background-color: rgb(75, 75, 75);
}